h1 {
    background-color: blueviolet;
    color: black;
    opacity: 0.6;
    text-align: center;
    border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}

p {
    background-color: blueviolet;
    color: black;
    opacity: 0.6;
    border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}