body{background-color: rgb(197, 31, 31);}


h1 {

    color: hsl(119, 100%, 15%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
  color: #000000;
  opacity: 1.0;
  background-color: hsl(119, 100%, 15%);
  border-top: 5px;
  border-width: 5px;
  border-left: 5px;
  border-right: 5px;
  border-style: groove;
  border-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;


}

table {
    text-align: center;
    margin:auto;
    width: 100%;
    background-color: hsl(119, 100%, 15%) ;
    border-color: black;
    border-style: groove;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin:auto;
  }
  
  a:hover, a:active {
    background-color: red;
    margin:auto;
    text-align: center;
  }
  

